{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ act }}
{% endblock %}

{% block direction_bar %}
    <a href="{% url 'acts' %}">/海巡常用法規</a>
    <u>/{{ act }}</u>
{% endblock %}

{% block body %}
    <div class="container border-left border-dark">
        <div class="row">
            <div class="col-12">
                Name：{{ act }}
            </div>
            <div class="col-12">
                source URL：<a href="{{ act.source_url }}">{{ act.source_url }}</a>
            </div>
            {% if request.user.is_superuser %}
            <div class="col-12">
                <button class="btn btn-outline-warning" onclick="window.location.href='{% url 'chapter_create' act.slug %}'">Chapter+</button>
                <button class="btn btn-outline-success" onclick="window.location.href='{% url 'article_create' act.slug %}'">Article+</button>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="container border font-weight-light mt-2 mb-2">
        <div class="row">
            {% if act.chapter_set.count != 0 %}
                {% for chapter in act.chapter_set.all %}
                    <div class="col-12">
                        <a href="{% url 'chapter_detail' act.slug chapter.number %}">{{ chapter }}</a>
                    </div>

                    <div class="container">
                        <div class="row">
                            {% for article in chapter.article_set.all %}
                                <div class="col-lg-2">
                                    <a href="{% url 'article_detail' article.act.slug article.number %}">{{ article }}</a>
                                </div>
                                <div class="col-lg-10">
                                    {{ article.content|linebreaks|safe }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

            {% elif act.article_set.count != 0 %}
                {% for article in act.article_set.all %}
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-1">
                                <a href="{% url 'article_detail' article.act.slug article.number %}">{{ article }}</a>
                            </div>
                            <div class="col-lg-11">
                                {{ article.content|linebreaks|safe }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}