{% extends 'base.html' %}
{% load static %}

{% block title %}
    Laws
{% endblock %}

{% block direction_bar %}
    <u>/海巡常用法規</u>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <form class="col-8 text-center" method="post" action="{% url 'search' %}">
                {% csrf_token %}
                {{ search_form.search_field }}
                <button type="submit" class="btn btn-primary mt-2">Search</button>
            </form>
        </div>
    </div>

    <ul>
        {% for act in acts %}
        <p>
            <li><a href="{% url 'act_detail' act.slug %}">{{ act }}</a></li>
        </P>
        {% endfor %}

        {% if request.user.is_superuser %}
        <p>
            <li><a href="{% url 'act_create' %}">+Added a new act</a></li>
        </p>
        {% endif %}
    </ul>
{% endblock %}