{% extends 'base.html' %}
{% load static %}

{% block title %}
    Laws
{% endblock %}

{% block direction_bar %}
    <a href="{% url 'acts' %}">/海巡常用法規</a>
    <a href="{% url 'act_detail' act.slug %}">/{{ act }}</a>
    <u>/New Article</u>
{% endblock %}

{% block body %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">submit</button>
    </form>
    <p>
        <ul>
            {% for article in act.article_set.all %}
                <li>{{ article }}</li>
            {% endfor %}
        </ul>
    </p>
{% endblock %}