{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ act }}
{% endblock %}

{% block direction_bar %}
    <a href="{% url 'acts' %}">/海巡常用法規</a>
    <a href="{% url 'act_detail' act.slug %}">/{{ act }}</a>
    {% if article.chapter %}
    <a href="{% url 'chapter_detail' act.slug article.chapter.number %}">/{{ article.chapter }}</a>
    {% endif %}
    <u>/{{ article }}</u>
{% endblock %}

{% block body %}
    <div class="container border-left border-success p-4 m-5">
        <div class="row">
            <div class="col-12">
                Name：{{ act }}
            </div>
            <div class="col-12">
                source URL：<a href="{{ act.source_url }}">{{ act.source_url }}</a>
            </div>
        </div>
    </div>

    <div class="container border font-weight-light p-sm-4 m-sm-5">
        <div class="row">
            <div class="col-12 m-4">
                {{ article }}
            </div>
            <div class="col-12 m-4">
                {{ article.content|linebreaks|safe }}
            </div>
        </div>
    </div>
{% endblock %}