{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ act }}
{% endblock %}

{% block direction_bar %}
    <a href="{% url 'acts' %}">/海巡常用法規</a>
    <a href="{% url 'act_detail' act.slug %}">/{{ act }}</a>
    <u>/{{ chapter }}</u>
{% endblock %}

{% block body %}
    <div class="container border-left border-dark">
        <div class="row">
            <div class="col-12">
                Name：{{ chapter }}
            </div>
            <div class="col-12">
                source URL：<a href="{{ act.source_url }}">{{ chapter.source_url }}</a>
            </div>
            {% if request.user.is_superuser %}
            <div class="col-12">
                <button class="btn btn-outline-warning" onclick="window.location.href='{% url 'chapter_create' act.slug %}'">Chapter+</button>
                <button class="btn btn-outline-danger" onclick="window.location.href='{% url 'chapter_delete' act.slug chapter.number %}'">Chapter-</button>
                <button class="btn btn-outline-success" onclick="window.location.href='{% url 'article_create' act.slug %}'">Article+</button>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="container border font-weight-light mt-2 mb-2">
        <div class="row">
            <div class="container">
                <div class="row">
                    {% for article in chapter.article_set.all %}
                        <div class="col-lg-2">
                            <a href="{% url 'article_detail' article.act.slug article.number %}">{{ article }}</a>
                        </div>
                        <div class="col-lg-10">
                            {{ article.content|linebreaks|safe }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}