{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ act }}
{% endblock %}

{% block direction_bar %}
    <a href="{% url 'index' %}">Home</a>
    /
    <a href="{% url 'acts' %}">海巡常用法規</a>
    /
    <a href="{% url 'act_detail' act.slug %}">{{ act }}</a>
    /
    {{ chapter }}
{% endblock %}

{% block body %}
    <h1>{{ chapter }}</h1>
    <ul>
        {% for article in chapter.article_set.all %}
            <p>
                <li><a href="{% url 'article_detail' article.act.slug article.number %}">{{ article }}</a></li>
            </p>
        {% endfor %}
    </ul>

{% endblock %}