{% extends 'base.html' %}
{% load static %}

{% block title %}
    Welcome, CGA Info Sys.
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="card col-5 col-lg-3 m-2">
            <div class="card-title">
                <img src="{% static 'pic/search.jpg' %}" class="card-img-top" alt="...">
                <h5 class="card-title">海巡常用法規</h5>
                <a href="{% url 'acts' %}" class="btn btn-primary">Check it out!</a>
            </div>
        </div>
        <div class="card col-5 col-lg-3 m-2">
            <div class="card-title">
                <img src="{% static 'pic/application_form.jpg' %}" class="card-img-top" alt="...">
                <h5 class="card-title">海巡常用申請表</h5>
                <a href="#application_form" class="btn btn-primary">Check it out!</a>
            </div>
        </div>
        <div class="card col-5 col-lg-3 m-2">
            <div class="card-title">
                <img src="{% static 'pic/think.jpg' %}" class="card-img-top" alt="...">
                <h5 class="card-title">海巡常見問題處理程序</h5>
                <a href="#SOP" class="btn btn-primary">Check it out!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}